body {
  padding-top: 60px;
  margin-top: 60px;
  color: #333;
}

h3 {
  font-size: 30px;
  color: #333;
}

a{
  color: black;
} a:hover{
  text-decoration: none;
  color: orangered;
}

.heading {
  font-family: Yanone Kaffeesatz;
  font-weight: 700;
  color: white;
  display: inline;
} .heading:hover{
  text-decoration: none;
  color: orangered;
}

.navbar{
  background-color: #333;
  border: none;
  font-size: 60px;
}
